@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

.navItem {
  padding: 0 25px;

  @include media-breakpoint-down(sm) {
    padding: 0 5px;
  }
}

.hamburger {
  position: relative;
  padding: 5px 0;
}

.hamburgerPosition {
  left: 0px;
  top: 0px;
}

.iconStyle {
  width: 32px;
  height: 32px;
  color: $gray-700;
}
