@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

.searchForm {
  position: relative;

  @include media-breakpoint-down(sm) {
    margin: 20px 50px 0;
  }
}

.searchInput {
  width: 100%;
  font-size: 13px;
  padding: 8px 13px;
  border-radius: 4px;
  border: 1px solid #f4f4f4;

  &::placeholder {
    color: #a8a8a8;
  }
}

.searchIcon {
  position: absolute;
  top: 5px;
  right: 8px;
  opacity: 0.8;
  border: none;
  background: transparent;
}
