#root {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

ol,
ul {
  list-style-type: none;
  padding-left: 0 !important;
}

.page-logo {
  width: 120px;
}

.navbar.navbar-expand {
  padding: 5px 250px;
}

.nav-item > .nav-link {
  padding: 0;
}
